body {
  font-family: Helvetica;
  text-align: center;
  margin: 20px;
  color: rgb(123, 167, 129);
}
table {
  width: 50%;
  margin: 20px auto;
  border-collapse: collapse;
}
th, td {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  color: black;
}
th {
  background-color: rgb(146, 199, 153);
}